.ingredientsType {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 12px;
  margin: 0;
  gap: 32px 24px;
}

.card {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 32px;
  max-width: 272px;
  height: 208px;
}
