.container {
  margin: 0 auto;
  max-width: 1280px;
  min-width: 320px;
  display: flex;
  gap: 60px;
}

.navigate {
  max-width: 320px;
  width: 100%;
  margin: 120px 0 0;
  padding: 0 0 0 20px;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  column-gap: 8px;
  justify-content: flex-start;
}

.navList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navItem {
  height: 64px;
  display: flex;
  align-items: center;
}

.navLink {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.4s;
}

.navLink:hover {
  opacity: 0.7;
}

.navButton {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: opacity 0.4s;
}

.navButton:hover {
  opacity: 0.7;
}

.subtitle {
  margin: 20px 0 0;
  text-align: start;
  height: 48px;
}
