.container {
  width: 600px;
  max-width: 100%;
  min-height: calc(100vh - 88px);
  box-sizing: border-box;
  text-align: start;
}

.navigation {
  display: flex;
}

.ingredients {
  max-height: 68vh;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #8585ad #2f2f37;
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

.ingredients::-webkit-scrollbar {
  width: 8px;
}

.ingredients::-webkit-scrollbar-track {
  background: #2F2F37;
}

.ingredients::-webkit-scrollbar-thumb {
  background-color: #8585AD;
  border: 3px solid #8585AD;
}
