.container {
  margin: 40px auto 0;
  max-width: 1240px;
  min-width: 320px;
}

.title {
  margin: 0 auto 20px;
  text-align: start;
}

.feeds {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.feedsContainer {
  display: flex;
  justify-content: space-between;
  width: 608px;
  padding: 0 0 0 8px;
}

.feedsInfo {

}
